# When public/storage is a symlink here, send requests to Laravel and pass the file path.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ ../../../public/index.php?laravel_storage_path=$1 [L,QSA]
</IfModule>
